.main{
    padding: 0 0.2rem 0.28rem;
}
.info-box{
    height: 100%;
    padding: 0.4rem 0.24rem 0;
    background-color: #fff;
    color: #333;
    overflow: auto;
}
.photo{
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 0.4rem;
}
p{
    color: #333;
}
.text{
    font-size: 0.32rem;
    line-height: 0.4rem;
    text-align: center;
    margin-bottom: 0.18rem;
}
.info-box{
    position: relative;
}
.info-box dl{
    padding: 0.22rem 0;
    display: flex;
    border-bottom: 0.02rem solid #EEF2FB;
}
.info-box dt{
    font-weight: bold;
    width: 6em;
    margin-right: 0.8rem;
    margin-left: 0.16rem;
    line-height: 0.4rem;
}
.info-box dd{
    flex: 1;
    line-height: 0.4rem;
}
.info-box .tel-wrap{
    padding: 0.08rem 0;
}
.tel-wrap dt{
    padding: 0.14rem 0;
    line-height: 0.4rem;
}
.tel{
    padding: 0.14rem 0;
    line-height: 0.4rem;
}
.btn-edit{
    padding: 0.14rem 0 0.14rem 0.4rem;
    background: url('../images/icon_edit.png') no-repeat left center;
    background-size: 0.33rem 0.3rem;
    color: #0588FE;
}
.tel-box{
    display: flex;
    justify-content: space-between;
}
.tel-box .input-text{
    display: block;
    width: 2.6rem;
    padding: 0.14rem;
    line-height: 0.4rem;
    background-color: #EEF2FB;
    border-radius: 0.08rem;
    font-size: 0.28rem;
}
.btns{
    position: absolute;
    left: 0;
    bottom: 0.22rem;
    width: 100%;
    padding: 0 0.24rem;
}
.btn-submit{
    margin-bottom: 0.16rem;
}
.btn-cancel{
    background-color: #F5F6F8;
    color: #333;
}